*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: #fff;
}
.header{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.header .item2{
    width:100%;
    text-align:center;
}
.header .item2 h1{
    font-size: 40px;
    font-weight: 10;
}
.header .item2 h4{
    font-size: 20px;
    font-weight: 10;
}
td:hover{
    font-size: 30px;
    background-color: rgb(216, 9, 9);
    color: white;
}
.container h1{
    color: rgb(47, 111, 148);
    text-align: center;
    font-size: 35px;
    margin:10px;
}
#content1{
    text-align: center;
    margin: 20px 0px;
}
#content1 h1{
    background-color: #da2222;
    color: white;
    cursor: pointer;
}
#content1 .table table{
    width: 100%;
    font-size: 25px;
}
#content1 .table table tbody{
    text-align: center;
}
#content1 .table{
    display:none;
}

#content2{
    text-align: center;
    margin: 20px 0px;
}
#content2 h1{
    background-color: #da2222;
    color: white;
    cursor: pointer;
}
#content2 .table table{
    width: 100%;
    font-size: 25px;
}
#content2.table table tbody{
    text-align: center;
}
#content2 .table{
    display:none;
}

#content3{
    text-align: center;
    margin: 20px 0px;
}
#content3 h1{
    background-color: #da2222;
    color: white;
    cursor: pointer;
}
#content3 .table table{
    width: 100%;
    font-size: 25px;
}
#content3 .table table tbody{
    text-align: center;
}
#content3 .table{
    display:none;
}